body {
  font-family: var(--font-family);
  font-size: var(--fs-body-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  color: var(--color-text);
  background-color: var(--color-bg);
}

#root {
  min-height: 100vh;
}
